{% extends "network/layout.html" %}

{% block body %}
    <div class="home-container container">
        <div class="row">
            <div class="col-sm">
                <h2>{{ data.clickedUser.username }}</h2>
                <span>Followers: {{ data.followers }}</span>
                <span>Following: {{ data.following }}</span>
            </div>
            {% if data.clickedUser.id != request.user.id %}
                <div class="col-sm">
                    <form action="{% url 'profile' data.clickedUser.username %}" method="POST">
                        {% csrf_token %}
                        {% if data.is_following == 0 %}
                            <button name="action" value="follow" class="twitter-btn btn">Follow</button>
                        {% else %}
                            <button name="action" value="unfollow" class="twitter-btn btn">Unfollow</button>
                        {% endif %}
                    </form>
                </div>
            {% endif %}
        </div>  
        <hr>
        {% for post in posts %}
            <p class="text-muted">{{ data.clickedUser.username }}</p>
            <p class="post"> {{ post.post }}</p>
            <span class="like" data-id="{{ post.id }}">
                <i class="far fa-heart"></i>
                <span>0</span>
                <span class="text-small text-muted">likes {{ request.is_authenticated }}</span>
            </span>
            <p class="text-muted">{{ post.timestamp_created }}</p>
            <hr>
        {% endfor %}
    </div>
{% endblock %}